@model BookleWebApp.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<div class="container mt-5">
    <h1 class="text-primary text-center mb-4">Book Details</h1>

    <div class="card">
        <div class="card-header bg-info text-white">
            <h4>Book Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Title</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-4">Author</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Author)</dd>

                <dt class="col-sm-4">Price</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                <dt class="col-sm-4">Description</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-4">Stock Quantity</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StockQuantity)</dd>

                <dt class="col-sm-4">Language</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.BookLanguage)</dd>

                <dt class="col-sm-4">Image</dt>
                <dd class="col-sm-8">
                    <img src="@Model.BookImage" alt="Book Image" class="img-thumbnail" style="max-width: 150px;">
                </dd>

                <dt class="col-sm-4">Category</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Category.Id)</dd>

                <dt class="col-sm-4">Publisher</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Publisher.Id)</dd>

                <dt class="col-sm-4">Active</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IsActive)</dd>

                <dt class="col-sm-4">Deleted</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IsDeleted)</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">
            <i class="bi bi-pencil"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
    </div>
</div>
